html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.slide {
    position: relative;
}

.slide .slide__img {
    width: auto;
    height: 700px;
    overflow: hidden;
}

@media (min-width: 1100px) {
    .slide .slide__img {
        width: auto;
        height: 100vh;
        overflow: hidden;
    }
}

.slide .slide__img img {
    width: auto;
    height: auto;
    opacity: 1 !important;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    transition: all 1s ease;
    display: inline-block;
    text-align: center;
}

.slide .slide__content {
    position: absolute;
    top: 0%;
    padding: 30px 30px 30px 30px;
}

@media (min-width: 992px) {
    .slide .slide__content {
        position: absolute;
        top: 0%;
        padding: 30px 200px 30px 200px;
    }
}

.slide .slide__content--headings {
    text-align: center;
    color: #FFF;
}

.slide .slide__content--headings h2 {
    font-size: 4.5rem;
    margin: 10px 0;
}

.slide .slide__content--headings .animated {
    transition: all 0.5s ease;
}

.slider [data-animation-in] {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.slick-dotted .slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    display: block;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.simple-dots .slick-dots li {
    width: 20px;
    height: 20px;
}

.simple-dots .slick-dots li button {
    border-radius: 50%;
    background-color: white;
    opacity: 0.25;
    width: 20px;
    height: 20px;
}

.simple-dots .slick-dots li button:hover,
.simple-dots .slick-dots li button:focus {
    opacity: 1;
}

.simple-dots .slick-dots li.slick-active button {
    color: white;
    opacity: 0.75;
}

.stick-dots .slick-dots li {
    height: 3px;
    width: 50px;
}

.stick-dots .slick-dots li button {
    position: relative;
    background-color: black;
    opacity: 0.25;
    width: 50px;
    height: 3px;
    padding: 0;
}

.stick-dots .slick-dots li button:hover,
.stick-dots .slick-dots li button:focus {
    opacity: 1;
}

.stick-dots .slick-dots li.slick-active button {
    color: black;
    opacity: 0.75;
}

.stick-dots .slick-dots li.slick-active button:hover,
.stick-dots .slick-dots li.slick-active button:focus {
    opacity: 1;
}


/* /////////// IMAGE ZOOM /////////// */

@-webkit-keyframes zoomInImage {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    to {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
}

@keyframes zoomInImage {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    to {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
}

.zoomInImage {
    -webkit-animation-name: zoomInImage;
    animation-name: zoomInImage;
}

@-webkit-keyframes zoomOutImage {
    from {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes zoomOutImage {
    from {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.zoomOutImage {
    -webkit-animation-name: zoomOutImage;
    animation-name: zoomOutImage;
}